{% extends 'hives/base.html' %}

{% block title %}Mes Ruches{% endblock %}

{% load static %}

{% block content %}
    {% for zone in zones %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-outline card-primary">
                        <div class="card-header">
                            <h5 class="card-title">{{ zone.name }}</h5>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row d-flex align-items-stretch">
                                {% for hive in zone.hives_set.all %}  
                                <div class="col-12 col-sm-6 col-md-4 align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">
                                            Ruche
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b>{{ hive.name }}</b></h2>
                                                    <p class="text-muted text-sm"><b>Description : </b> {% if hive.description %} {{ hive.description }} {% else %} Aucune  {% endif %}  </p>
                                                    <ul class="text-muted ml-4 mb-0 fa-ul">
                                                        <li class= "small"><span class="fa-li"><i class="fas fa-lg fa-chess-queen"></i></span> Année : {{ hive.year }} </li>
                                                        <li class= "small mt-2"><span class="fa-li"><i class="fas fa-lg fa-globe-europe"></i></span> Origine : {{ hive.origin }} </li>
                                                        <li class= "small mt-2"><span class="fa-li"><i class="fas fa-lg fa-crop-alt"></i></span> Type : {{ hive.hive_type }} </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <a href="/hives/{{ hive.id }}">
                                                        <img src={% static 'hives/dist/img/beehive_wood.png' %} alt="" class="img-circle img-fluid">    
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a href="/hives/edit_hive/{{ hive.id }}" class="btn btn-sm bg-purple">
                                                    <i class="fas fa-cogs"></i>
                                                </a>
                                                <a href="/hives/{{ hive.id }}" class="btn btn-sm btn-primary">
                                                    <i class="fas fa-user"></i>  Detail de la ruche
                                                </a>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            {% endfor %}

                                <div class="col-12 col-sm-6 col-md-4 align-items-stretch">
                                    <div class="card bg-light">
                                        <div class="card-header text-muted border-bottom-0">
                                            Ruche
                                        </div>
                                        <div class="card-body pt-0">
                                            <div class="row">
                                                <div class="col-7">
                                                    <h2 class="lead"><b> ??? </b></h2>
                                                    <p class="text-muted text-sm"><b>Description : </b> {% if hive.description %} {{ hive.description }} {% else %} Aucune  {% endif %}  </p>
                                                    <ul class="text-muted ml-4 mb-0 fa-ul">
                                                        <li class= "small"><span class="fa-li"><i class="fas fa-lg fa-chess-queen"></i></span> Année : {{ hive.year }} </li>
                                                        <li class= "small mt-2"><span class="fa-li"><i class="fas fa-lg fa-globe-europe"></i></span> Origine : {{ hive.origin }} </li>
                                                        <li class= "small mt-2"><span class="fa-li"><i class="fas fa-lg fa-crop-alt"></i></span> Type : {{ hive.hive_type }} </li>
                                                    </ul>
                                                </div>
                                                <div class="col-5 text-center">
                                                    <a href="/hives/{{ hive.id }}">
                                                        <img src={% static 'hives/dist/img/beehive_wood_black.png' %} alt="" class="img-circle img-fluid">    
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="text-right">
                                                <a class="btn btn-success btn-sm pt-1 pb-1" href="/hives/add" role="button"><i class="fas fa-plus mr-2"> </i>Créer une nouvelle ruche</a>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                            </div>    
                        </div>
                    </div>
                </div>
                <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    {% empty %}
    <p class="mt-">Aucun élément, Créer une zone d'abord :) </p>
    {% endfor %}
{% endblock %}


