{% extends 'hives/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="col text-center">
                        <img class="brand-image" src={% static 'hives/dist/img/beehive1_sm.png' %} alt="Photo">
                    </div>
                    <form role="form" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label> Nom de la zone </label>
                            {{ form.name }}
                        </div>
                        <div class="form-group">
                            <label> Commune </label>
                            {{ form.city }}
                        </div>
                        <div class="form-group">
                            <label> Code Postal </label>
                            {{ form.zip_code }}
                        </div>
                        <div class="d-flex flex-row-reverse bd-highlight">
                            <div class="pb-2 bd-highlight">
                                <button type="submit" class="btn btn-success mt-1" >
                                    <i class="fas fa-plus mr-1"> </i>  {{ button_title }}
                                </button>
                            </div>
                        </div>
                        {% if errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h5><i class="icon fas fa-ban"></i> Erreur </h5>
                            {{ errors }}
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Liste des zones</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nom</th>
                      <th>Commune</th>
                      <th>Code Postal</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for zone in zones %}
                    <tr>
                      <td>{{ zone.id }}</td>
                      <td>{{ zone.name }}</td>
                      <td>{{ zone.city }}</td>
                      <td>{{ zone.zip_code}}</td>
                      <td>
                        <a class="btn btn-sm bg-purple" href="/hives/zones/edit/{{ zone.id }}" role="button"> <i class="fas fa-cogs"></i> </a>
                        <a class="btn btn-danger btn-sm" href="/hives/zones/delete/{{zone.id}}" role="button"><i class="fas fa-trash"> </i> </a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div> 
        </div>          
    </div>
</div><!-- /.container-fluid -->

{% endblock %}




