{% extends 'hives/base.html' %}

{% block title %}Détail de la ruche{% endblock %}

{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="card card-primary card-outline">
                <div class ="card-body box-profile">
                    <div class ="text-center">
                        <img src={% static 'hives/dist/img/beehive1.png' %} alt="" class="profile-user-img img-circle img-fluid">
                    </div>
                    <h3 class="profile-username text-center"> {{ hive.name }} </h3>
                    <p class="text-muted text-center"> {{ hive.zone }} </p>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Type de ruche</b> <a class="float-right">{{ hive.hive_type }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Nombre de cadre</b> <a class="float-right">{{ hive.frame_number }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Origine de l'essaim</b> <a class="float-right">{{ hive.origin }}</a>
                        </li>
                        <li class="list-group-item">
                            <b>Date de mise en place</b> <a class="float-right">{{ hive.year }}</a>
                        </li>
                    </ul>
                </div>
            </div>            
        </div>
        <!-- /.col-md-3 -->
        <div class="col-md-9">
            <div class="card">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item"><a class="nav-link active" href="#add_activity" data-toggle="tab">Suivi</a></li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="active tab-pane" id="add_activity">
                            <form role="form" method="POST">
                            {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                        </div>
                                        {{ form.created_at }}
                                    </div>
                                    <!-- /.input group -->
                                </div>
                                {% if errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <h5><i class="icon fas fa-ban"></i> Format non valide ! </h5>
                                    Veuillez vérifier le format de la date/heure :)
                                </div>
                                {% endif %}
                                <div class="form-group">
                                    {{ form.details }}
                                </div>
                                <div class="d-flex flex-row-reverse bd-highlight">
                                    <div class="pb-2 bd-highlight">
                                        <button type="submit" class="btn btn-success mt-1" >
                                                <i class="fas fa-plus mr-1"> </i>  Ajouter
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="post"></div>
                            {% for histories in hive.history_set.all %}
                            <div class="post">
                                <div class="user-block">
                                    <img class="img-circle img-bordered-sm" src={% static 'hives/dist/img/beehive3.png' %} alt="user image">
                                    <span class="username">
                                        <a href="#">Ruche {{hive.name}}</a>
                                        <a href="delete_history/{{histories.id}}" class="float-right btn-tool"><i class="fas fa-times"></i></a>
                                    </span>
                                    <span class="description">{{histories.created_at}}</span>
                                </div>
                                <!-- /.user-block -->
                                <p>{{ histories.details }}</p>
                                <p>
                                    <a href="delete_history/{{histories.id}}" class="link-black text-sm mr-2"><i class="fas fa-trash mr-1"></i> Supprimer</a>
                                    <a href="#" class="link-black text-sm"><i class="fas fa-star mr-1"></i> Attention !</a>
                                </p>
                            </div>
                            {% empty %}
                            <div class="post">
                                <p>Aucun élément</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container-fluid -->

<div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

      <div class="modal fade" id="modal-overlay">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="overlay d-flex justify-content-center align-items-center">
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-header">
              <h4 class="modal-title">Default Modal</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <!-- /.modal -->

{% endblock %}